<style type="text/css">
body {
	background: #e8e8e8;
	font-family: verdana, arial, sans-serif;
	color: #444444;
	font-size: 12px;
	margin: 0px;
}

div#container {
	width: 1200px;
	margin: 0px auto;
	background: #A0A0A0;
	padding: 0px;
}

div#content {
	width: 1200px;
	padding-top: 100px;
	background: #FFFFFF;
}

div#header {
	width: 1200px;
	height: 80px;
	background: #888888;
	position: absolute;
	top: 0px;
}

div#nav {
	width: 200px;
	float: left;
	background: #FFFFFF;
}

div#maincontent {
	width: 800px;
	float: right;
	background: #DDDDDD;
	margin-right: 50px;
}

div.navblock {
	width: 280px;
	margin: 5px;
	font-size: 30px;
}

div.contentblock {
	width: 700px;
	margin: 5px auto;
	border: 1px solid #FFFFFF;
}

div.navblock ul li {
	margin: 10px;
	display: inline-block;
	color: #000;
	font-size: 20px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}
/* Hide from IE Mac \*/
.clearfix {
	display: block;
}
</style>