@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

header {
    background: #3399cc;
    height: 100px;
    margin: 0px;
    font-family:'Open Sans',cursive;
}
.logo {
    width: 30%;
    float: left;
    padding-left: 50px;
}
.name {
    width: 35%;
    font-size: 300%;
    font-weight:300;
    float: left;
    position: absolute;
    left: 200px;
    top: 22px;
    color: white;
}
.username {
    float: right;
    position: relative;
    top: 12px;
    right: 300px;
}
.btn {
    float: right;
    position: relative;
    top: 30px;
    padding-left: 20px;
}
.btn2 {
    float: right;
    position: relative;
    top: 10px;
    padding-left: 20px;
}

button{
    width:100px;
    background:#3399cc;
    display:block;
    margin:0 auto;
    margin-top:1%;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}
.msg {
    position: relative;
    float: left;
    right: 200px;
    top: 20px;
    width: 280px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alignleft {
    float: left;
    width:50%;
}
.alignright {
    float: right;
    width:50%;
}